# data files
data/
models/
*.png
*.pdf
*.log
*.lhe
*.root
*.txt

# executables
*.out
*pycache*
*.pyc
*main0*

#notebook checkpoints
*.ipynb_checkpoints
*checkpoint.ipynb

# old scripts
old/

# vscode
*.vscode

# mac stuff
*.DS_Store
*.plist

# config and SLURM files
*cfg.json
*batch.sh
