# data files
data/
models/
*.png
*.pdf

# executables
*.out
*pycache*
*.pyc

#notebook checkpoints
*.ipynb_checkpoints
*checkpoint.ipynb

# old scripts
old/

# vscode
*.vscode

# mac stuff
*.DS_Store

